<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ConfigencValidateBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ConfigencValidateBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://epqas:50101/Validatencuserwebservice/ConfigencValidate?style=document"
                binding="basicHttpBinding" bindingConfiguration="ConfigencValidateBinding"
                contract="HRMSQuality.ValidatencuserwebserviceVi" name="ConfigencValidatePort" />
        </client>
    </system.serviceModel>
</configuration>